.App {
    text-align: center;
}

.App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 80px;
}

.App-header {
    background-color: #222;
    height: 150px;
    padding: 20px;
    color: white;
}

.App-intro {
    font-size: large;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: "Avenir Next", sans-serif;
}

.carousel-section {
    width: 100%;
    overflow-x: auto;
}

.carousel-container-xs {
    position: relative;
    margin: 12px auto;
    overflow-x: scroll;
}

.carousel-container-s,
.carousel-container-m,
.carousel-container-l,
.carousel-container-xl {
    position: relative;
    margin: 80px auto;
    width: 1120px;
}

.grid-xs {
    display: inline-grid;
    grid-auto-flow: column;
    grid-template-columns: auto;
    grid-gap: 12px;
    position: relative;
}

.grid-s,
.grid-m,
.grid-l,
.grid-xl {
    display: grid;
    margin-top: 32px;
    gap: 32px;
    grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-item-s,
.grid-item-xs {
    text-align: left;
    width: 192px;
}

.grid-item-m,
.grid-item-l,
.grid-item-xl {
    text-align: left;
    width: 256px;
}

.listing-image-container {
    border-radius: 4px;
    width: 100%;
    cursor: pointer;
}

.listing-image {
    object-fit: cover;
    border-radius: 4px;
    width: 100%;
    height: 144px;
    cursor: pointer;
}

.listing-details-container {
    margin-top: 12px;
    cursor: pointer;
}

.listing-title {
    color: #ff72b6;
    letter-spacing: 0.4px;
    text-transform: uppercase;
    line-height: 16px;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
    padding: 0;
}

.listing-price {
    color: #1a2258;
    margin: 4px 0 2px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 600;
    cursor: pointer;
}

.listing-address {
    color: #1a2258;
    font-weight: 400;
    font-size: 14px;
    text-decoration: none;
}

.listing-details {
    line-height: 19px;
    white-space: pre;
    color: #1a2258;
    font-size: 14px;
    font-weight: 400;
    margin: 0;
}

.slideshow-container {
    position: relative;
    overflow-x: hidden;
}

.grid-item-xs .slideshow-container,
.grid-item-s .slideshow-container {
    width: 192px;
    height: 144px;
}

.grid-item-m .slideshow-container,
.grid-item-l .slideshow-container,
.grid-item-xl .slideshow-container {
    width: 256px;
    height: 192px;
}

.prev-image-button,
.next-image-button {
    position: absolute;
    top: 50%;
    border: none;
    background-color: transparent;
    color: white;
    cursor: pointer;
    font-size: 16px;
}

.prev-image-button:focus,
.next-image-button:focus {
    outline: none;
}

.prev-image-button {
    left: 10px;
}

.next-image-button {
    right: 10px;
}

.slideshow-img {
    position: absolute;
    object-fit: cover;
    border-radius: 4px;
    width: 100%;
    height: 100%;
    cursor: pointer;
}

.slideshow-img.show {
    left: 0% !important;
}

.slideshow-img.hidden-left {
    left: -100%;
}

.slideshow-img.hidden-right {
    left: 100%;
}

.slideshow-img.enter-from-right {
    animation: enter-from-right 0.5s forwards;
}

.slideshow-img.enter-from-left {
    animation: enter-from-left 0.5s forwards;
}

.slideshow-img.exit-to-right {
    animation: exit-to-right 0.5s forwards;
}

.slideshow-img.exit-to-left {
    animation: exit-to-left 0.5s forwards;
}

/* Slideshow animation css */
@keyframes enter-from-right {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}

@-webkit-keyframes enter-from-right {
    0% {
        left: 100%;
    }
    100% {
        left: 0;
    }
}

@keyframes enter-from-left {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

@-webkit-keyframes enter-from-left {
    0% {
        left: -100%;
    }
    100% {
        left: 0;
    }
}

@keyframes exit-to-right {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

@-webkit-keyframes exit-to-right {
    0% {
        left: 0;
    }
    100% {
        left: 100%;
    }
}

@keyframes exit-to-left {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}

@-webkit-keyframes exit-to-left {
    0% {
        left: 0;
    }
    100% {
        left: -100%;
    }
}
